[submodule "Cores/ArcadiaGBCCore"]
	path = Cores/ArcadiaGBCCore
	url = https://github.com/davide-andreoli/ArcadiaGBCCore.git
[submodule "Cores/ArcadiaCore"]
	path = Cores/ArcadiaCore
	url = https://github.com/davide-andreoli/ArcadiaCore.git
[submodule "ArcadiaApp"]
	path = ArcadiaApp
	url = https://github.com/davide-andreoli/ArcadiaApp.git
[submodule "Cores/ArcadiaNESCore"]
	path = Cores/ArcadiaNESCore
	url = https://github.com/davide-andreoli/ArcadiaNESCore.git
[submodule "Cores/ArcadiaGBACore"]
	path = Cores/ArcadiaGBACore
	url = https://github.com/davide-andreoli/ArcadiaGBACore.git
[submodule "Cores/ArcadiaSNESCore"]
	path = Cores/ArcadiaSNESCore
	url = https://github.com/davide-andreoli/ArcadiaSNESCore.git
