[submodule "Cores/ArcadiaGBCCore"]
	path = Cores/ArcadiaGBCCore
	url = https://github.com/davide-andreoli/ArcadiaGBCCore.git
[submodule "Cores/ArcadiaCore"]
	path = Cores/ArcadiaCore
	url = https://github.com/davide-andreoli/ArcadiaCore.git
[submodule "ArcadiaApp"]
	path = ArcadiaApp
	url = https://github.com/davide-andreoli/ArcadiaApp.git
[submodule "Cores/ArcadiaNESCore"]
	path = Cores/ArcadiaNESCore
	url = https://github.com/davide-andreoli/ArcadiaNESCore.git
[submodule "Cores/ArcadiaGBACore"]
	path = Cores/ArcadiaGBACore
	url = https://github.com/davide-andreoli/ArcadiaGBACore.git
[submodule "Cores/ArcadiaSNESCore"]
	path = Cores/ArcadiaSNESCore
	url = https://github.com/davide-andreoli/ArcadiaSNESCore.git
[submodule "Cores/ArcadiaAtari2600Core"]
	path = Cores/ArcadiaAtari2600Core
	url = https://github.com/davide-andreoli/ArcadiaAtari2600Core.git
[submodule "Cores/ArcadiaAtari7800Core"]
	path = Cores/ArcadiaAtari7800Core
	url = https://github.com/davide-andreoli/ArcadiaAtari7800Core.git
[submodule "Cores/ArcadiaNeoGeoPocketCore"]
	path = Cores/ArcadiaNeoGeoPocketCore
	url = https://github.com/davide-andreoli/ArcadiaNeoGeoPocketCore.git
[submodule "Cores/ArcadiaGenesisCore"]
	path = Cores/ArcadiaGenesisCore
	url = https://github.com/davide-andreoli/ArcadiaGenesisCore.git
[submodule "Cores/ArcadiaMasterSystemCore"]
	path = Cores/ArcadiaMasterSystemCore
	url = https://github.com/davide-andreoli/ArcadiaMasterSystemCore.git
